*
!.gitignore
!.glzr.code-workspace
!/glazewm/
!/glazewm/config.yaml
!/zebar/
!/zebar/settings.json
!/zebar/normalize.css
!/zebar/attaquer-buildless/
!/zebar/attaquer-buildless/**
!/zebar/attaquer-solid-ts/
!/zebar/attaquer-solid-ts/**