.spotify {
  font-size: 12px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  transition: max-width 0.4s ease;
  -webkit-transition: max-width 0.4s ease;
  -moz-transition: max-width 0.4s ease;
  -ms-transition: max-width 0.4s ease;
  -o-transition: max-width 0.4s ease;
}

.spotify:hover {
  max-width: 500px;
}