.playing {
  font-size: 12px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  transition: max-width 0.4s ease;
  -webkit-transition: max-width 0.4s ease;
  -moz-transition: max-width 0.4s ease;
  -ms-transition: max-width 0.4s ease;
  -o-transition: max-width 0.4s ease;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.progress-play {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #b3ebff;
  /* border-bottom: 1px solid #0077e7; */
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.playing:hover {
  max-width: 500px;
}